// Primary
// - Mobile: 375px
// - Desktop: 1440px

// Primary Colors
$primary: hsl(193, 38%, 86%);
$primary-2: hsl(150, 100%, 66%);
$pale-blue: hsl(225, 100%, 94%);

$body-bg: #eeeeee;

// Neutral Colors

$grayish-blue: hsl(225, 100%, 98%);
$dark-grayish-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(218, 23%, 16%);

// Typography
$font-fa: 'Manrope', sans-serif;

// Body Copy
$body-fz: 28px;

$font-weight-1: 900;


// Breakpoint Sass Variables
$breakpoint-mobile: 37.5em;
$breakpoint-desktop: 90em;
$breakpoint-desktop-medium: 105em;
$breakpoint-desktop-large: 120em;
$breakpoint-desktop-xlarge: 160em;
