@import "sass/variables";
@import "sass/mixins";

@import "sass/base";
@import "sass/reset";
@import "sass/typography";

.advice {
  position: relative;
  @include flex-column;
  @include flex-center;
  gap: 3rem;
  padding: 4rem;
  margin: 0 1rem;
  background-color: hsl(218, 23%, 25%);
  border-radius: 15px;
  text-align: center;
  height: auto;
  width: 100%;
  max-width: 350px;

  &__title {
    color: $primary-2;
    font-size: 1rem;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__text {
    p {
      color: $primary;
      font-size: $body-fz;
      font-weight: $font-weight-1;
      transition: opacity 1s cubic-bezier(0.48, 0.17, 0.49, 0.84);

      &::before {
        content: "“";
      }
      &::after {
        content: "”";
      }
    }
  }

  &__divider {
    padding-bottom: 3rem;
  }

  &__button {
    position: absolute;
    bottom: -3em;
    background-color: $primary-2;
    border-radius: 50%;
    display: inline-flex;
    padding: 2rem;
    transition: box-shadow 0.5s, transform 0.2s;
    transition-timing-function: cubic-bezier(0.48, 0.17, 0.49, 0.84);
    animation: scaleBtn 0.8s ease-in;


    &.rotate-animation {
        animation: rotateDice .8s ease-in;
      }

    &:hover {
      box-shadow: 0 0 15px 5px $primary-2;
    }

    &:active {
      transform: translateY(5px);
    }

    @keyframes rotateDice {
      0% {
        transform: rotate(0deg);
      }

      50% {
        transform: rotate(180deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes scaleBtn {
      from {
        transform: scale(0%);
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: scale(100%);
      }
    }
  }

  @include mediaQuery(phone) {
    max-width: 600px;
  }
}
